USE [DCBaloes]
GO
/****** Object:  Table [dbo].[BalloonProduct]    Script Date: 10/04/2026 17:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalloonProduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](100) NOT NULL,
	[image_url] [nvarchar](max) NULL,
	[base_price] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[image_url2] [nvarchar](max) NULL,
	[image_url3] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceCalculation]    Script Date: 10/04/2026 17:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceCalculation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[material_cost] [decimal](10, 2) NOT NULL,
	[labor_hours] [decimal](10, 2) NULL,
	[hourly_rate] [decimal](10, 2) NULL,
	[delivery_fee] [decimal](10, 2) NULL,
	[other_costs] [decimal](10, 2) NULL,
	[markup_percentage] [decimal](10, 2) NOT NULL,
	[total_cost] [decimal](10, 2) NULL,
	[final_price] [decimal](10, 2) NULL,
	[profit] [decimal](10, 2) NULL,
	[created_date] [datetime] NULL,
	[client_name] [nvarchar](255) NULL,
	[service_type] [nvarchar](100) NULL,
	[client_phone] [nvarchar](20) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/04/2026 17:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](100) NOT NULL,
	[service_description] [ntext] NULL,
	[min_value] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 10/04/2026 17:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[id] [int] NOT NULL,
	[default_hourly_rate] [decimal](10, 2) NULL,
	[default_markup_percentage] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/04/2026 17:06:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](max) NULL,
	[reset_token] [nvarchar](255) NULL,
	[token_expiry] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BalloonProduct] ON 

INSERT [dbo].[BalloonProduct] ([id], [name], [description], [category], [image_url], [base_price], [is_active], [created_at], [image_url2], [image_url3]) VALUES (13, N'ARCO', N'ARCO FLECHA', N'Arranjos', N'uploads/img_69d92a68768088.50724915.webp', CAST(0.00 AS Decimal(10, 2)), 1, CAST(N'2026-04-10T13:50:48.487' AS DateTime), N'uploads/img_69d92a68769554.36936344.png', N'uploads/img_69d92a6876ae51.41346161.png')
SET IDENTITY_INSERT [dbo].[BalloonProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[PriceCalculation] ON 

SET IDENTITY_INSERT [dbo].[PriceCalculation] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([id], [service_name], [service_description], [min_value]) VALUES (1, N'Arranjos', N'sdsds', CAST(85.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([id], [service_name], [service_description], [min_value]) VALUES (2, N'Decoração de Festa', N'frgr', CAST(65.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([id], [service_name], [service_description], [min_value]) VALUES (3, N'Balões Personalizados', N'sdfds', CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
INSERT [dbo].[Settings] ([id], [default_hourly_rate], [default_markup_percentage]) VALUES (1, CAST(50.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [password_hash], [reset_token], [token_expiry], [created_at]) VALUES (1, N'Daiana Castro Freitas Silva', N'macarenxxxx.com', N'$2y$10$8S4F/2F0G5h8kL7mN9qO.e7v6j5H4G3F2E1D0C9B8A7', NULL, NULL, CAST(N'2026-04-10T11:37:19.220' AS DateTime))
INSERT [dbo].[Users] ([id], [name], [email], [password_hash], [reset_token], [token_expiry], [created_at]) VALUES (3, N'Administrador', N'admin@teste.com', N'$2y$10$AIrcE021.lqalMweP.2AQu5Ap36HOFxISdiR4i/9pAVQoH2ogAH6.', NULL, NULL, CAST(N'2026-04-10T12:17:42.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164A3555D5E]    Script Date: 10/04/2026 17:06:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BalloonProduct] ADD  CONSTRAINT [DF_BalloonProduct_base_price]  DEFAULT ((0)) FOR [base_price]
GO
ALTER TABLE [dbo].[BalloonProduct] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[BalloonProduct] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PriceCalculation] ADD  DEFAULT ((0)) FOR [delivery_fee]
GO
ALTER TABLE [dbo].[PriceCalculation] ADD  DEFAULT ((0)) FOR [other_costs]
GO
ALTER TABLE [dbo].[PriceCalculation] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [min_value]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [id]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [default_hourly_rate]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [default_markup_percentage]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD CHECK  (([id]=(1)))
GO
